.dropdown-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    display: none;
    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.96);

    @media screen and (min-width: 769px) {
        left: unset;

        display: block;
        width: 306px;
    }    

    &--open {
        display: block;
    }
}