@import 'variables';

.dropdown-contacts {
    padding-left: 16px;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;

        list-style: none;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__button {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 16px;

        font-size: 0;

        background-color: $btnColor;
        border-radius: 50%;

        &--type_call {
            background-image: url("../img/call.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--type_mail {
            background-image: url("../img/mail.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__email {
        margin-top: 0;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    &__t-number {
        margin-top: 0;
        margin-bottom: 8px;

        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
    }
}