@import 'variables';

.dropdown-contacts {
    padding-left: 16px;
    
    &__list {
        display: flex;
        padding: 0;

        list-style: none;
    }

    &__button {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 16px;

        font-size: 0;

        background-color: $btnColor;
        border-radius: 50%;

        &--type_call {
            background-image: url("../img/call.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--type_mail {
            background-image: url("../img/mail.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}