.navigation {
    display: flex;
    padding: 0;

    list-style: none;

    overflow: scroll;

    &__link {
        display: inline-block;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 16px;
        padding-right: 16px;

        font-family: "TT Lakes";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;
        color: #7E7E82;
        white-space: nowrap;

        border: 2px solid transparent;

        &--active {
            background-color: #fff;
            border: 2px solid #B8FFEC;
            border-radius: 6px;
        }
    }
}