@import 'variables';

.page-footer {
    padding-bottom: 1px;

    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #7E7E82;

    background-color: $mainBg;
    border-top: 1px solid $shadowColor;

    @media screen and (min-width: 321px) {
        display: flex;
        justify-content: space-between;
        padding: 18px 24px;
    }


}