.privacy-policy {
    @media screen and (min-width: 321px) {
        width: 215px;
    }

    &__link {
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        line-height: 16px;
        text-decoration: none;
        color: #7E7E82;
    }
}