.slider {
    overflow: hidden;

    &__list {
        position: relative;
        
        display: flex;
        margin: 0;
        padding: 0;
        
        list-style: none;

        @media screen and (min-width: 321px) {
            position: static;
        }

        &--animate {
            transition: left 300ms;
        }
    }

    &__item {
        user-select: none;
    }
  }
  
  
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
   
    @media screen and (min-width: 321px) {
        display: none;
    }
  }
  
  .control {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    
    background-color: #ddd;
    border-radius: 50%;
    
    cursor: pointer;

    transition: all 300ms;

    &--active {
        background-color: #B5B6BC;
    }
  }