@import 'variables';

.social-btns {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;

    &__button {
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 16px;
    
        font-size: 0;
    
        background-color: $btnColor;
        border-radius: 50%; 

        &--type_call {
            background-image: url("../img/call.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    
        &--type_mail {
            background-image: url("../img/mail.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--type_profile {
            background-image: url("../img/profile.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__item {
        margin-bottom: 16px;
    }
}



