@import 'variables';

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "TT Lakes";
    color: #000;
}

img {
    max-width: 100%;
}

.headline-hidden {
    font-size: 0;
}
